html, body {
    height: 100%;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: white;
}

header {
    text-align: center;
    width: 100%;
}

h1 {
	font-size: 47px;
    text-align: center;
    line-height: 56px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    margin-top: 75px;
}
h1 span {
	padding: 0 15px 0 15px;
	border-width: 3px;
    border-style: solid;
    border-color: #FFFFFF;
}

nav {
	background-color: #7F7F7F;
	line-height: 17px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
nav ul {
	
	padding: 0px;
}
nav ul li {
    display: inline;
}
nav ul li a {
	width: 100px;
	display: inline-block;
	font-size: 0.8em;
	padding: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
nav ul li a:visited {
	color: #FFFFFF;
}
nav ul li a:active {
    background-color: #C8C8C8;
}
nav ul li a:hover {
	background-color: #999999;
}

#sidebar {
    float: left;
    display: none;
    /* display: inline; */
    width: 10%;
    padding: 15px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-shadow: 10px 10px 5px #888888;
}
#sidebar .title {
    background-color: black;
    text-align: center;
    text-decoration: underline;
    color: lightgray;
}
#sidebar section {
    margin-top: 15px;
}

#content {
	background: #FFFFFF url("../img/background.jpg") no-repeat center center scroll;
    background-size: cover;
}

#center {
    width: 90%;
    text-align: center;
    vertical-align: middle;
}

.winner {
    font-size: 50px;
}

#scores div {
	color: #000000;
	padding: 15px;
    background-color: #FFFFFF;
    margin-top: 15px;
    border: 2px solid #7F7F7F;
    width: 425px;
}

footer {
	font-size: 8pt;
    text-align: center;
    width: 100%;
    clear: both;
    color: white;
}
